<footer class="footer">
  <div class="content has-text-centered">
    <p>
      <strong>StrengthStr</strong> by <a href="https://ericeoeur.com">Eric Oeur</a> for SEI-119 Project 2. 
    </p>
  </div>
</footer>

<script src="/bulma.js"></script>