body{
  background-image: url("./assets/cream_dust_@2X.png");
  /* font-family: monospace; */
}

.nav-profile {
  background: linear-gradient( rgba(0, 0, 0, 0.522), rgba(0, 0, 0, 0.166) ), url("./assets/inflicted.png");
  height: 120%;
}

.columns {
  /* display:block; */
  /* height: 100vh; */
}

.links {
  color: white
}

.side-nav {
  position: fixed;
  height: 100%;
}

.profile-picture {
  position: relative;
  height: 26vw;
 
}

.my-name {
  line-height: 45px;
  font-size: 65px;
  line-height: 50px;
}


.portfolio-main{
  margin-left: 25vw; 
  font-size: 28px; /* Increased text to enable scrolling */
  padding: 0px 10px;

}

.logo-image{
  width: 150px
  
}


.resume-bullet {
  list-style-type: square;
  
}

@media screen and (max-width: 768px) {
  .nav-profile {
    height: 65vw; 
    width: 100vw;
    position: static;
    margin-bottom: 25px;
    padding-bottom: 10px;
  }
  
  .profile-picture {
    margin-bottom: 5px;
    margin-top: 25px;
    height: 75vw;
    position: relative;

  }

  .side-nav {
    position: static;
    height: 40%;
    margin-bottom: 10px
  
  }

  .portfolio-main{
    margin-left: 3px;
    margin-right: 40px;
    padding: 0px 10px;
  
  }





}
