body{
  background-image: url("./assets/cream_dust_@2X.png");
  /* font-family: monospace; */
}

.nav-profile {
  background: linear-gradient( rgba(0, 0, 0, 0.522), rgba(0, 0, 0, 0.166) ), url("./assets/inflicted.png");
  height: 100%;
}

.columns {
  /* display:block; */
  /* height: 100vh; */

}

.side-nav {
  position: fixed;
  height: 100%;

}

.my-name {
  line-height: 45px;
}


.portfolio-main{
  margin-left: 350px; 
  font-size: 28px; /* Increased text to enable scrolling */
  padding: 0px 10px;

}



/* Hide the WORKOUTid from the ADD LIFT form in the show.ejs page */
.showWorkoutID {
  display: none
}

.logo-image{
  width: 150px
  
}


.resume-bullet {
  list-style-type: square;
  
}

@media screen and (max-width: 768px) {
  .nav-profile {
    height: 100%;
  }
  
  .profile-picture {
    margin-left: 25%;
  }

  .side-nav {
    position: relative;
    height: 40%;
    margin-bottom: 10px
  
  }

  .portfolio-main{
    margin-left: 30px;
    margin-right: 30px;
    padding: 0px 10px;
  
  }





}
