@import url('https://fonts.googleapis.com/css?family=Teko&display=swap');

body {
  background-image: url("../images/escheresque_ste.png");
  font-family: Teko;
}

.title{
  text-align: center;
  font-family: Teko;
  font-size: 5em;
}

.header {
  background-color: aliceblue;
  color: #060CE9; 
}

.score {
  font-family: Teko;
  font-size: 2em;
  background-color: #060CE9;
  color: white;
  text-align: left;
  height: 60px;
}

.col-sm-2{
  display: flexbox;
  background-color: #060CE9;
  padding-top: 20px;
  border: .5px solid gray;
  margin: 0 auto;
}

.col-sm-2 h4{
height: 100px;
padding-top: 10px;
}

.col-sm-12 {
  justify-content: center;
  align-items: center;
  height: 120px;
  background-color: #060CE9;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
  text-align: center;
  margin: 0 auto;
  padding-top: 25px;
 
}

.col-md h2{
  height: 120px;
  text-align: center;
  margin: 0;
  position: absolute;
  top: 50%; 
  left: 50%;
}

.category-name {
  font-family: Teko;
  color: white; 
  font-size: 300%;
  line-height: 80%;
  position:relative;
}

h4 {
  text-align: center;
}

h5 {
  color: goldenrod;
}

.price {
  font-size: 4em;
  font-family: Teko;
}


.cost:hover {
  transform: scale(1.1);
  }

  .price:hover {
    -webkit-text-stroke: 2px gold;
  }