<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <%- include ('../partials/head.ejs') %>
</head>

<body>
  <%- include ('../partials/navbar.ejs') %>

  <div class="container">
    <div class="columns is-mobile is-centered is-vcentered">
      <div class="column is-half mt-6">

        <figure class="image is-3by1 ">
          <img src="/img/barbell.png" alt="barbell"  class="logo-image">
        </figure>
      </div>
    </div>

    <h1 class="is-size-1 is-uppercase has-text-centered has-text-weight-bold has-text-link mt-4 is-family-monospace	"> Login</h1>
    <h2 class="subtitle has-text-centered "> Let's lift!</h1>
      <div class="columns is-centered">
        <div class="column is-half is-centered m-3">

          <form action="/sessions" method="POST">
            <!-- username  -->
            <div class="field">
              <label class="label is-family-monospace is-size-5	">Username</label>
                <p class="control has-icons-left">
                <input class="input is-large " type="text" name="username" required /> 
                <span class="icon is-small is-left">
                <i class="fas fa-user"></i>
              </span>
              </p>   
            </div>

            <!-- password -->
            <div class="field">
              <label class="label is-family-monospace is-size-5	">Password</label>
              <p class="control has-icons-left">
              <input class="input is-large" type="password" name="password">
              <span class="icon is-small is-left">
                <i class="fas fa-lock"></i>
              </span>
              </p>

            </div>

            <!-- Submit  -->
            <input class="button is-info is-large is-fullwidth mt-6 mb-6 is-family-monospace	" type="submit" name="Submit User" />

          </form>

        </div>
      </div>
  </div>
  </div>
  <!-- FOOTER -->
  <%- include ('../partials/footer.ejs') %>
  <!-- FOOTER -->

</body>

</html>